<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="bag_file_path" />
    <arg name="not_recorded_topics" />
    <arg name="output" />

	<node name="recorder" pkg="rosbag" type="record" args="--lz4 -a -O $(arg bag_file_path) -x $(arg not_recorded_topics)" output="$(arg output)" />

</launch>
